body {
    font: 12px/1.3 'Arial','Microsoft YaHei';
    _font-family: simsun;
    overflow-x: hidden;
    color: #333;
}
ul,p {
    margin: 0;
    padding: 0;
}









.bp_frame_left{
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    font-size: 12px;
}
.bp_func {
    text-align: center;
}
.bp_bg2_br {
    color: #fff;
    border-color: #fff;
}
.bp_top_nav .bp_line3, .bp_top_nav .bp_input {
    border-color: #cccccc;
}
.bp_arrow_bor_t i, .bp_arrow_bor_t em {
    _border-style: dashed dashed solid dashed;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
.bp_arrow_bor i, .bp_arrow_bor em {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}
.bp_arrow_bor_t em {
    margin: 1px 0 0 -14px;
}
.bp_ficon {
    color: #696e78;
}
a:hover .bp_ficon,.bp_txt1:hover ,.bp_top_name:hover{
    color: #26a69a;
}
.bp_line1 {
    border-color: #d9d9d9;
}
.bp_container {
  padding-top: 50px
}
.bp_block {
  display: block !important;
}
.bp_bgUserColor, .bp_bgUserColorHover:hover, .bp_bgUserColorHover:focus {
    background-color: #19CF86 !important;
}
.bp_inlineBlock {
    display: inline-block !important;
    max-width: 100%;
}
.bp_textTruncate {
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
}
.bp_textInheritColor {
    color: inherit !important;
}
.bp_dir[dir="ltr"] {
    direction: ltr !important;
    text-align: left !important;
    unicode-bidi: embed;
}
.bp_linkComplex, .bp_linkComplex:hover, .bp_linkComplex:focus, .bp_linkComplex:active {
    text-decoration: none !important;
}
.bp_Arrange {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
.bp_Arrange_equal {
    table-layout: fixed;
}
.bp_Arrange_sizeFill, .bp_Arrange_sizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.bp_Arrange_bottom .bp_Arrange_sizeFill, .bp_Arrange_bottom .bp_Arrange_sizeFit {
    vertical-align: bottom;
}
.bp_Arrange_equal>.bp_Arrange_sizeFill, .bp_Arrange_equal>.bp_Arrange_sizeFit {
    width: 1%;
}
.bp_linkClean, .bp_linkClean:hover, .bp_linkClean:focus, .bp_linkClean:active {
    text-decoration: none !important;
}
.bp_textUserColor, .bp_textUserColorHover:hover, .bp_textUserColorHover:focus {
    color: #19CF86 !important;
}
.bp_avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    -moz-force-broken-image-icon: 1;
}
.bp_size32 {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
